# IDE
.idea/*
uml-wp-test.iml

# WordPress template
wp-config.php
wp-config-sample.php
wp-content/uploads/
wp-content/plugins/
wp-content/upgrade/
wp-admin/
wp-includes/

/.htaccess
/license.txt
/readme.html